/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Code starts here  */

*:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #e9ecef;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-shadow: 0 0.02rem 0.01rem rgba(0, 0, 0, 0.4);
}

nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: top 1s;
}

nav .logo {
    margin-left: 5%;
}

nav ul {
    display: flex;
    gap: 3em;
    margin-right: 15%;
}

nav ul li:hover {
    transform: scale(1.07);
    transition: transform 0.2s;
}

.nav-links {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #212529;
    transition: color 0.2s;
}

.nav-links:hover {
    color: #0056b3;
    cursor: pointer;
}

.selected {
    color: #0056b3;
}

main {
    margin: 0 3rem;
}

.headers {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-areas:
        "name image";
}

.header-info {
    grid-area: name;
    align-self: center;
    line-height: 1.2;
    margin: 0 auto;
}

.header-image {
    grid-area: image;
    margin: 0 auto;
}

.image {
    /* filter: drop-shadow(0 0 0.05rem rgba(52, 58, 64, 0.4)); */
    height: 50vh;
}

.header-info h1 {
    font-size: 30px;
}

.header-info h2 {
    font-size: 60px;
}

.header-info h3 {
    font-size: 35px;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    color: #0056b3;
}

h2 {
    font-size: 2rem;
    color: #343a40;
}

h3,
.footer {
    color: #495057;
}

.aboutSec h2,
.workSec h2 {
    margin-bottom: 2rem;
}

main p {
    color: #495057;
    font-size: 1.2rem;
    line-height: 1.5;
}

.aboutSec,
.workSec,
.contactSec {
    scroll-margin: 120px;
}

.footer {
    text-align: center;
}

.social-container {
    /* width: 20%; */
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0.5rem 0 0.5rem;
    /* justify-content: center; */
}

.social-card {
    transition: transform 0.5s;
}

.social-card:hover {
    cursor: pointer;
    transform: translate(0, -10%);
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-auto-rows: 0.5fr;
    grid-template-areas:
        "image about"
        "cards cards";
    margin: 0 5rem;
    gap: 2rem;
}

.aboutImage {
    grid-area: image;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.2rem rgba(52, 58, 64, 0.4));
}

.aboutme {
    grid-area: about;
    align-self: center;
}

.personal-info {
    margin-top: 2rem;
}

.personal-info>* {
    margin-bottom: 1rem;
}

.personal-info h3 {
    font-weight: 700;
    font-size: 1.2rem;
}

.carousel {
    grid-area: cards;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.skill-card {
    min-width: 190px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.25rem;
    color: #4a544c;
    border-radius: 8px;
}

.skill-card img {
    filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.4));
    border-radius: 10%;
}

.workSec {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    place-items: center;
}

.card {
    background-color: #e5e5e5;
    border: 1px solid red;
    width: 80%;
}

.card>img {
    max-width: 100%;
}

.contact-grid {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
        "contact map";
    gap: 2rem;
}

.contact-grid h2 {
    text-align: left;
    margin-bottom: 1rem;
    position: relative;
    padding-bottom: 0.5rem;
}

.contact-grid h2:before {
    content: "";
    position: absolute;
    width: 15%;
    height: 0;
    bottom: 0;
    right: 77%;
    border-bottom: 4px solid #0056b3;
}

form {
    grid-area: contact;
    align-self: center;
}

.contact-form {
    display: grid;
    height: 30vh;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-auto-rows: 0.7fr 2fr 0.7fr;
    grid-template-areas:
        "name name email email"
        "text text text text"
        "submit alert alert .";
    gap: 1rem;
    filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.2));
}

.person-name,
.person-email {
    padding-left: 3%;
}

.person-name,
.person-email,
.person-text {
    border: 1px solid #a9b3bd;
    background-color: #e9ecef;
    border-radius: 5px;
    font-size: 1rem;
}

.person-name:focus,
.person-email:focus,
.person-text:focus {
    border: 1px solid #0056b3;
}

.person-name {
    grid-area: name;
}

.person-email {
    grid-area: email;
}

.person-text {
    grid-area: text;
    padding-left: 1%;
}

.submit {
    grid-area: submit;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    color: #f8f9fa;
    transition: transform 0.2s, background-color 0.2s;
    font-size: 1rem;
    font-family: inherit;
}

.submit:hover {
    background-color: #02458b;
    transform: scale(1.02);
}

.alert {
    grid-area: alert;
    background-color: #74c69d;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    display: none;
}

.alertOn {
    display: block;
}

.closebtn {
    color: #f8f9fa;
    float: right;
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: #212529;
}

.contact-map {
    grid-area: map;
    display: grid;
    grid-template-areas: "iframe";
    margin: 0 auto;
    grid-template-columns: minmax(250px, 1fr);
}

iframe {
    height: 42vh;
    border-radius: 5px;
    grid-area: iframe;
    filter: drop-shadow(0 0 0.05rem rgba(0, 0, 0, 0.2));
}

/* .contact-button,
.resume-button {
    text-decoration: none;
    border: 1px solid #0056b3;
    border-radius: 5px;
    padding: 10px 20px;
    color: #212529;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.resume-button:hover,
.contact-button:hover {
    background-color: #0056b3;
    color: #f8f9fa;
    box-shadow: 0 0.5em 0.5em -0.4em #0056b3;
    transform: scale(1.07);
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 0.65rem;
    gap: 0.85rem;
} */

.headers,
.aboutSec,
.about-title p,
.workSec,
.contactSec {
    margin-bottom: 5rem;
}

/* 
@media (max-width:1200px) {
    ul {
        margin-left: 50%;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 2.5em;
    }

}

@media (max-width:992px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media (max-width:576px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    ul {
        margin-left: 140px;
        align-items: center;
        padding: 10px;
    }

    .resume-button {
        margin-right: 80px;
        margin-left: 70px;
    }

    h1,
    h2,
    h3 {
        font-size: 2em;
    }

    .image {
        max-width: 60%;
    }

    .gogos {
        display: none;
    }
} */