:root {
  --primaryColor: #343a40;
  --secondaryColor: #6d757d;
  --tertiaryColor: #0056b3;
  --hoverColor: #02458b;
  --whiteColor: #f4f6f8;
}

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  background: #f4f6f8;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  text-shadow: 0 0.02rem 0.01rem rgba(0, 0, 0, 0.4);
  overscroll-behavior: none;
}

h1,
h2,
h3 {
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  color: var(--primaryColor);
}

h3 {
  color: var(--primaryColor);
}

.aboutSec,
.projectsSec,
.contactSec {
  scroll-margin: 120px;
}

.about-me h2:after,
.projectsSec h2:after,
form h2:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2px;
  background: var(--tertiaryColor);
  bottom: 0;
  left: 25%;
}

.sectionColor {
  background: #f8f9fa;
}

.headers {
  max-width: 1024px;
}

.aboutSec,
.projectsSec,
.contactSec {
  max-width: 1024px;
  padding: 3rem 1.2rem;
}

/* MAIN STARTS HERE */

main p {
  color: var(--secondaryColor);
  font-size: 1.2rem;
  line-height: 1.5;
}

/* NAV STARTS HERE */

.navBarHeader {
  padding: 0 10px;
  transition: all 0.5s ease;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  position: sticky;
}

.navBar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
}

.logo {
  display: flex;
  justify-content: flex-start;
  height: 76px;
  width: 125px;
  /* width: 50%; */
  /* margin: 0 auto; */
}

.nav-item {
  list-style: none;
}

.nav-container {
  /* margin: 0 auto; */
  display: flex;
  gap: 3rem;
}

/* .nav-container li:hover {
  transform: scale(1.07);
  transition: transform 0.2s;
} */

.nav-links {
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  color: var(--primaryColor);
  transition: color 0.5s;
}

.nav-links:hover {
  color: var(--tertiaryColor);
  cursor: pointer;
}

.selected {
  color: var(--tertiaryColor);
}

.hamburger {
  display: none;
  gap: 7.5px;
  cursor: pointer;
  flex-direction: column;
  transition: all 0.5s ease;
}

.hamburger div {
  width: 37px;
  height: 4px;
  background-color: var(--primaryColor);
  transition: all 0.5s ease;
}

.hamburger.active div:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* HEADER STARTS HERE */

.headers {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-areas: 'name image';
  height: 100vh;
}

.headers::after {
  content: '';
  background-image: url('/icons/hero2.webp');
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
  background-size: cover;
  background-position: center;
  /* pointer-events: none; */
  filter: brightness(0.6);
  height: 100vh;
}

.header-info {
  grid-area: name;
  align-self: center;
  line-height: 1.2;
  margin: 0 auto;
}

.header-info > * {
  padding: 0.4rem 0;
}

.name {
  color: var(--tertiaryColor);
}

.header-image {
  grid-area: image;
  /* align-self: center; */
  margin: 0 auto;
  max-width: 70%;
}

.image {
  filter: drop-shadow(0 0 0.15rem rgba(52, 58, 64, 0.8));
  animation: shaping 5s infinite;
  max-width: 100%;
}

.header-info h1 {
  font-size: 3.2rem;
  color: #f4f6f8;
}

.start {
  margin-top: 2.5rem;
  background: var(--tertiaryColor);
  color: #f4f6f8;
  border: none;
  font-size: 1.2rem;
  padding: 15px 25px;
  border-radius: 5px;
  transition: background 0.5s;
}

.start:hover {
  cursor: pointer;
  background-color: var(--hoverColor);
}

.social-container {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0.5rem 0 0.5rem;
}

.social-card {
  transition: transform 0.5s;
}

.social-card:hover {
  cursor: pointer;
  transform: translate(0, -10%);
}

/* ABOUT STARTS HERE */

.aboutSec {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  grid-template-areas:
    'image about'
    'cards cards';
  gap: 2rem;
}

.about-image {
  grid-area: image;
  margin: 0 auto;
  align-self: center;
  max-width: 70%;
}

.image2 {
  max-width: 100%;
}

.about-me {
  grid-area: about;
  align-self: center;
}

.about-me h2 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.personal-info {
  margin-top: 1rem;
}

.personal-info > * {
  margin-bottom: 1rem;
}

.personal-info h3 {
  font-weight: 700;
  font-size: 1.2rem;
}

.skill-container {
  grid-area: cards;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.skill-container:before,
.skill-container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 1;
}

.skill-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #f8f9fa);
}

.skill-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #f8f9fa);
}

.skill-container:hover .skill-slide {
  animation-play-state: paused;
}

.skill-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.skill-slide svg {
  margin: 0 40px;
  margin-bottom: 10px;
}

.skill-item {
  display: inline-block;
  text-align: center;
}

.skill-item svg path:hover {
  transition: fill 0.5s ease;
  fill: var(--tertiaryColor);
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* .skill-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: scroll-carousel 30s linear infinite;
}

.skill-container::-webkit-scrollbar {
  display: none;
}

.skill-card {
  flex: 0 0 auto;
  width: 150px;
  text-align: center;
}

.skill-card img {
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.4));
  border-radius: 10%;
}

@keyframes scroll-carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* PROJECTS STARTS HERE */

.projectsSec {
  margin: 0 auto;
}

.projectsSec h2 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 2rem;
}

.project-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 2rem;
  grid-template-areas: 'info image';
  background-color: #f8f9fa;
  border-radius: 24px;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 12px;
}

.project-info h3 {
  font-size: 1.5rem;
}

.project-image {
  grid-area: image;
  align-self: stretch;
}

.project-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 0 16px 16px 0;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.see-live {
  text-decoration: none;
  color: var(--tertiaryColor);
  font-size: 1.1rem;
  transition: color 0.5s ease;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.see-live:hover {
  color: var(--hoverColor);
}

.source-code {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--tertiaryColor);
  transition: color 0.5s ease;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.source-code:hover {
  color: var(--hoverColor);
}

/* CONTACT STARTS HERE */

.contactSec {
  align-items: center;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 10rem;
}

form h2 {
  text-align: left;
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 0.5rem;
  display: inline-block;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-auto-rows: 0.5fr 1fr 0.5fr;
  grid-template-areas:
    'name name email email'
    'text text text text'
    'submit alert alert .';
  gap: 1rem;
  filter: drop-shadow(0 0 0.1rem rgba(0, 0, 0, 0.2));
}

#name,
#email,
#message {
  border-bottom: 2px solid #6d757d;
}
.person-name,
.person-email,
.person-text {
  border: none;
  background-color: transparent;
  font-size: 1rem;
}

#name:focus,
#email:focus,
#message:focus {
  border-bottom: 2px solid var(--tertiaryColor);
}

.person-name {
  grid-area: name;
}

.person-email {
  grid-area: email;
}

.person-text {
  grid-area: text;
  padding: 60px 0 0;
}

.submit {
  grid-area: submit;
  background-color: var(--tertiaryColor);
  border: none;
  border-radius: 5px;
  color: #f8f9fa;
  transition: transform 0.5s, background-color 0.5s;
  font-size: 1.2rem;
  font-family: inherit;
}

.submit:hover {
  background-color: var(--hoverColor);
  cursor: pointer;
}

.alert {
  grid-area: alert;
  background-color: #74c69d;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  display: none;
  text-align: center;
}

.alertOn {
  display: block;
}

.msgColor {
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.closebtn {
  color: #f8f9fa;
  float: right;
  margin-right: 1rem;
  margin-top: 0.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.closebtn:hover {
  color: #212529;
}

.contact-info {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.contact-info p {
  font-size: 1rem;
}

.contact-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.social-row {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.social-row a svg path {
  transition: fill 0.5s ease;
}

.social-row a:hover svg path {
  fill: var(--tertiaryColor);
}

/* FOOTER STARTS HERE */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  color: var(--whiteColor);
  background-color: var(--primaryColor);
}

@media (width <=900px) {
  .nav-container {
    position: fixed;
    left: 0;
    gap: 0rem;
    top: -20rem;
    flex-direction: column;
    background-color: #f8f9fa;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-container.active {
    top: 5rem;
  }

  .nav-item {
    margin: 2rem 0;
  }

  .hamburger {
    display: flex;
    padding-right: 5px;
  }

  .headers {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      'name'
      '';
    height: 60vh;
  }

  .headers::after {
    height: 60vh;
  }

  .header-info h1 {
    font-size: 3.5rem;
  }

  .social-container {
    justify-content: center;
  }

  .aboutSec {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-areas:
      'image'
      'about'
      'cards';
  }

  .projectsSec {
    text-align: center;
  }

  .project-container {
    margin: 0;
  }

  .project-card {
    grid-template-columns: 1fr;
    grid-template-areas:
      'image'
      'info';
    gap: 1rem;
  }

  .project-image img {
    border-radius: 16px 16px 0 0;
  }

  .project-links {
    justify-content: center;
  }

  .contactSec {
    text-align: center;
    justify-content: center;
    gap: 5rem;
  }

  .contact-form {
    grid-template-columns: repeat(4, 1fr);
  }

  .submit {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .header-info h1 {
    font-size: 2.4rem;
  }

  .header-image {
    max-width: 60%;
  }

  .headers {
    padding: 0 0.5rem;
  }

  .aboutSec,
  .projectsSec,
  .contactSec {
    padding: 2rem 0.5rem;
  }

  .contactSec {
    gap: 3rem;
  }
}

@keyframes shaping {
  0%,
  100% {
    border-radius: 40% 60% 65% 35% / 40% 35% 65% 60%;
  }

  50% {
    border-radius: 70% 30% 50% 50% / 65% 35% 65% 35%;
  }
}
