/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Code starts here  */

html {
    scroll-behavior: smooth;
}

body {
    background: #e9ecef;
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    text-shadow: 0 0.02rem 0.01rem rgba(0, 0, 0, 0.4);
}

nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav .logo {
    margin-left: 5%;
}

nav ul {
    display: flex;
    gap: 3em;
    margin-right: 15%;
}

nav ul li:hover {
    transform: scale(1.07);
    transition: transform 0.2s;
}

.nav-links {
    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    color: #212529;
    transition: color 0.2s;
}

.nav-links:hover {
    color: #0056b3;
    cursor: pointer;
}

.selected {
    color: #0056b3;
}

main {
    margin: 0 3rem;
}

.headers {
    display: flex;
}

.header-child {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    line-height: 1.2;
}

.image {
    filter: drop-shadow(0 0 0.2rem rgba(0, 0, 0, 0.4));
}

.header-child h1 {
    font-size: 30px;
}

.header-child h2 {
    font-size: 60px;
}

.header-child h3 {
    font-size: 35px;
}

h1,
h2,
h3 {
    font-weight: 500;
}

h1 {
    color: #0056b3;
}

h2 {
    font-size: 1.8rem;
    color: #343a40;
}

h3,
.footer {
    color: #495057;
}

.aboutSec h2,
.workSec h2,
.contactSec h2 {
    margin-bottom: 2rem;
}

main p {
    color: #495057;
    font-size: 1.2rem;
    line-height: 1.5;
}

.aboutSec,
.workSec,
.contactSec {
    scroll-margin: 120px;
}

.about-title,
.contactSec,
.footer {
    text-align: center;
}

.about-title h2,
.workSec h2,
.contactSec h2 {
    position: relative;
}

.about-title h2::before {
    content: "";
    position: absolute;
    right: 41%;
    bottom: -1px;
    width: 125px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(0, 86, 179, 0.5);
    z-index: -1;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    margin: 0 5rem;
}

.workSec {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.workSec h2::before {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 0px;
    width: 300px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(0, 86, 179, 0.5);
    z-index: -1;
}

.cards {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    place-items: center;
}

.card {
    background-color: #e5e5e5;
    border: 1px solid red;
    width: 80%;
}

.card>img {
    max-width: 100%;
}

.contactSec h2::before {
    content: "";
    position: absolute;
    left: 43%;
    bottom: -1px;
    width: 160px;
    height: 12px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(0, 86, 179, 0.5);
    z-index: -1;
}

.contact-button,
.resume-button {
    text-decoration: none;
    border: 1px solid #0056b3;
    border-radius: 5px;
    padding: 10px 20px;
    color: #212529;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s, transform 0.2s;
}

.resume-button:hover,
.contact-button:hover {
    background-color: #0056b3;
    color: #f8f9fa;
    box-shadow: 0 0.5em 0.5em -0.4em #0056b3;
    transform: scale(1.07);
}

.buttons {
    display: flex;
    justify-content: center;
    padding-top: 0.65rem;
    gap: 0.85rem;
}

.headers,
.aboutSec,
.about-title p,
.workSec,
.contactSec {
    margin-bottom: 5rem;
}

.skills-flex {
    display: flex;
}

.skills {
    width: 50%;
    max-width: 600px;
    padding: 0 20px;
}

.skill-name {
    font-size: 18px;
    font-weight: 500;
    color: #495057;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px;
}

.skill-percentage {
    height: 14px;
    background: #0056b3;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-percentage::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #Fff5fd;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: transition(50%)
}

.skill-percentage::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #343a40;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

/* 
@media (max-width:1200px) {
    ul {
        margin-left: 50%;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 3.5em;
    }

    h3 {
        font-size: 2.5em;
    }

}

@media (max-width:992px) {

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 3em;
    }

    h3 {
        font-size: 2em;
    }
}

@media (max-width:768px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@media (max-width:576px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    ul {
        margin-left: 140px;
        align-items: center;
        padding: 10px;
    }

    .resume-button {
        margin-right: 80px;
        margin-left: 70px;
    }

    h1,
    h2,
    h3 {
        font-size: 2em;
    }

    .image {
        max-width: 60%;
    }

    .gogos {
        display: none;
    }
} */